.block {
  display: block;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.fullHeight {
  height: 100%;
}

.heightAuto {
  height: auto;
}

.fitContentWidth {
  width: fit-content;
}
